.small_container {
    display: flex;
    justify-content: space-around;

}
.container {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    
}

.background {
    background-image: url('./images/bg-bottom.svg');
    display: flex;
    flex-direction: column;
    gap:20px;
    width:275px;
    padding:20px;
    border: 1px solid rgb(182, 178, 178);
    text-align: center;
}

#header {
    font-size: 30px;
}

.price {
    font-size: 32px;
    padding-top: 20px;
}
.slide {
    border-radius: 10px;
    padding: 20px;
}
.head {
    font-size: 20px;
}

.basic {
background-color: hsl(240, 78%, 98%);
text-align: center;
}
.professional {
background-image:linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
text-align: center;

}
.master {
 background-color: hsl(240, 78%, 98%);
 text-align: center;
}
.last{
    background-color: hsl(232, 84%, 17%);
    padding:10px;
    border-radius: 10px;
    margin: 10px;

}
a {
    color: white;
}

/* toggle switch */

.toggle {
    position:relative;
    display: inline-block;
    width:50px;
    height: 25px;
    background-color: blue;
    border-radius: 30px;
    border: 2px solid gray;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    top:1px;
    left:1px;
    transition: all 0.5s;
}
.checkbox:checked + .toggle::after {
    left : 24px;
}
.checkbox:checked + .toggle {
    background-color: rgb(43, 15, 185);
}
.checkbox {
    display: none;
}