.headding {
    margin-top: 5%;
    font-size: 1.2rem;
}
.small_container {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    font-weight: 400;
}
.container {
     text-align: center;
     font-weight: 700;
     background-image: url('./images/bg-bottom.svg');

}
@media only screen and  (min-width:526px){

.background {
    display: flex;
    justify-content: center;
}
}
@media only screen and  (max-width:525px){
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

 

.price {
    font-size: 2rem;
    padding-top: 1.2rem;
}
.slide {
    border-radius: 5%;
    padding: 1rem;
}
.head {
    font-size: 1.2rem;
}

.basic {
background-color: hsl(240, 78%, 98%);
text-align: center;
}
.professional {
background-image:linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
text-align: center;

}
.master {
 background-color: hsl(240, 78%, 98%);
 text-align: center;
}
.last{
    background-color: hsl(232, 84%, 17%);
    padding:.5rem;
    border-radius: 10%;
    margin: .5rem;

}
a {
    color: white;
}

/* toggle switch */

.toggle {
    position:relative;
    display: inline-block;
    width:50px;
    height: 25px;
    background-color: blue;
    border-radius: 30px;
    border: 2px solid gray;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    top:1px;
    left:1px;
    transition: all 0.5s;
}
.checkbox:checked + .toggle::after {
    left : 24px;
}
.checkbox:checked + .toggle {
    background-color: rgb(43, 15, 185);
}
.checkbox {
    display: none;
}